/* .about-locals {
  width: 100%;
  max-width: 50rem;
  color: white;
  display: flex;
  align-items: flex-start;
  margin-top: 5.75rem;
  margin-inline-start: auto;
}

.about-locals__article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 80%;
} */
