* {
  margin: 0;
  box-sizing: border-box;
}

.page {
  font-family: Inter, sans-serif;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(42, 44, 47, 1);
}
